<div class="contents">
  <div class="title-bar">
    <span>Links</span>
  </div>
  <div class="content-body">
    <span class="span-bottom-margin">Below are some links to other places of woodworking interest on the web.
      If you have a site you'd like us to link to, send us the URL and we'll check it out.
      The Lehigh Valley Woodworkers' Guild does not endorse any site by the presence of
      its link on our page. They are here for the interested and curious. Links are
      grouped in categories shown below. They are also not in any particular order.
      If you have a problem following one of these links, please let us know.
      The Links page is growing so stop back often.</span>

    <!-- <div *ngFor="let item of links" class="link-item">
      <span class="company">{{item.companyName}}</span>
      <span *ngIf="item.streetAddress">{{item.streetAddress}}</span>
      <span *ngIf="item.streetAddress2">{{item.streetAddress2}}</span>
      <span *ngIf="item.cityStateAddress">{{item.cityStateAddress}}</span>
      <span *ngIf="item.contact">{{item.contact}}</span>
      <span *ngIf="item.phone">{{item.phone}}</span>
      <span *ngIf="item.message">{{item.message}}</span>
      <span *ngIf="item.url">{{item.url}}</span>
    </div> -->

    <p-accordion [multiple]="true">
      <p-accordionTab *ngFor="let item of links" header="{{item.category}}" [selected]="true">
        <div class="link-groups">
          <div *ngFor="let detailItem of item.linkDetails" class="link-item">
            <span class="company">{{detailItem.companyName}}</span>
            <span *ngIf="detailItem.streetAddress">{{detailItem.streetAddress}}</span>
            <span *ngIf="detailItem.streetAddress2">{{detailItem.streetAddress2}}</span>
            <span *ngIf="detailItem.cityStateAddress">{{detailItem.cityStateAddress}}</span>
            <span *ngIf="detailItem.contact">{{detailItem.contact}}</span>
            <span *ngIf="detailItem.phone">{{detailItem.phone}}</span>
            <span *ngIf="detailItem.message">{{detailItem.message}}</span>
            <a *ngIf="detailItem.url" href="http://{{detailItem.url}}" target="_blank">{{detailItem.url}}</a>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
