@import "../common.less";

.contents {
  .content-body {
    overflow-y: auto;
    height: 600px;

    .content-row {
      margin-bottom: 1em;

      .image-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        img {
          padding: .5em;
          width: auto;
          height: 225px;
        }
      }
    }

    .testimonial {
      display: flex;
      flex-direction: row;
      margin-bottom: 1em;

      .right-side {
        display: flex;
        flex-direction: column;
        font-style: italic;

        span {
          margin-bottom: .5em;
        }

        span:nth-child(4) {
          margin-bottom: 0;
        }
      }

      .left-side {
        display: flex;
        flex-direction: column;
        margin-right: .5em;

        img {
          width: 250px;
          height: auto;
        }
      }
    }
  }
}

table {
  border: 1px solid @button-background-color;
  border-collapse: collapse;

  .header-summary {
    text-align: center;
    background-color: @sidebar-button-background-color;
  }

  th {
    padding: 0 .25em 0 .25em;
    border: 1px solid @button-background-color;
    background-color: @sidebar-button-background-color;
  }

  td {
    padding: 0 .25em 0 .25em;
    border: 1px solid @button-background-color;
  }

  .table-cell {
    text-align: center;
    border: 1px solid @button-background-color;
  }
}
