<div class="contents">
  <div class="title-bar">
    <span>Giving Back to Our Community</span>
  </div>
  <div class="content-body">
    <div class="content-row">
      <span>One of our primary goals is to give back to the children of community.
        The reason we do this can best be said by this letter we received from one of those kid's parent.</span>
    </div>
    <div class="testimonial">
      <div class="left-side">
        <img src="../../assets/give-back/kid-with-blocks-blurred.jpg">
      </div>
      <div class="right-side">
        <span>To the Lehigh Valley Woodworkers Guild,</span>
        <span>Thank you so much for the generous gift that we received while at Shriners Hospital in Philadelphia. My son(s) love them and I, as a parent, really like to see them play with things that really sparks their creativity. It was such an unexpected surprise to leave our appointment that day just before Christmas with this gift in hand.</span>
        <span>Thank you all for your generous spirit and selfless giving. You are impacting the lives of these little ones in ways you can't even imagine.</span>
        <span>God Bless,</span>
        <span>Mike</span>
      </div>
    </div>
    <div class="content-row">
      <span>Here are some of the projects we donate our time and effort to.</span>
      <div class="image-row">
        <img src="../../assets/give-back/train.jpg">
        <img src="../../assets/give-back/race-cars.jpg">
        <img src="../../assets/give-back/horse-and-car.jpg">
        <img src="../../assets/give-back/horse.jpg">
      </div>
    </div>
  </div>
</div>
