<div class="contents">
  <div class="title-bar">
    <span>Giving Back to Our Community</span>
  </div>
  <div class="content-body">
    <div class="content-row">
      <span>
        One of our primary goals is to give back to the children of our community.
        We strive to have a positive impact by putting smiles on those children’s faces.
        We received the following letter from a parent of one of those kids.
      </span>
    </div>
    <div class="testimonial">
      <div class="left-side">
        <img src="../../assets/give-back/kid-with-blocks-blurred.jpg">
      </div>
      <div class="right-side">
        <span>To the Lehigh Valley Woodworkers Guild,</span>
        <span>Thank you so much for the generous gift that we received while at Shriners Hospital in Philadelphia. My son(s) love them and I, as a parent, really like to see them play with things that really sparks their creativity. It was such an unexpected surprise to leave our appointment that day just before Christmas with this gift in hand.</span>
        <span>Thank you all for your generous spirit and selfless giving. You are impacting the lives of these little ones in ways you can't even imagine.</span>
        <span>God Bless,</span>
        <span>Mike</span>
      </div>
    </div>
    <div class="content-row">
      <span>Here are some of the projects we donate our time and effort to and the organizations who received them.</span>
      <div class="image-row">
        <img src="../../assets/give-back/train.jpg">
        <img src="../../assets/give-back/race-cars.jpg">
        <img src="../../assets/give-back/horse-and-car.jpg">
        <img src="../../assets/give-back/horse.jpg">
      </div>
    </div>
    <div class="content-row">
      <table>
        <tr class="header-summary" colspan="7">
          <th class="header-summary" colspan="7">
            Summary of 2021 Donations
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" class="table-header" >
            {{col.header}}
          </th>
        </tr>

        <tr *ngFor="let item of donationInfo">
          <td>{{item.organizationName}}</td>
          <td class="table-cell">{{item.blockSets}}</td>
          <td class="table-cell">{{item.racecars}}</td>
          <td class="table-cell">{{item.rockingHorses}}</td>
          <td class="table-cell">{{item.trains}}</td>
          <td class="table-cell">{{item.wands}}</td>
          <td class="table-cell">{{item.misc}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
