@import "../common.less";

:host {
  height: 100%;
}

// .ui-panel-images {
//   width: 100%;
//   height: 100%;
// }

// .ui-galleria-panel {
//   width: 100%;
//   height: 100%;
// }

.gallery-item {
  // width: 100vw;
  // height: 75vh;
  //border: 1px solid var(--surface-d);
  //border-radius: 5px;
  margin: .3em;
  text-align: center;
  //padding: 2em 0;

  .gallery-image {
      width: 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 1em;
  }

  .item-title {
    font-size: 2em !important;
    text-align: center;
  }
}
