<div class="contents">
  <div class="title-bar">
    <span>Gallery</span>
  </div>
  <div class="content-body">
    <span>
      Browse our gallery of recent Guild events.
    </span>
    <div class="carousel-container p-col-12">
      <p-carousel
        [showIndicators]="false"
        [value]="images"
        [responsiveOptions]="responsiveOptions">

        <ng-template pTemplate="item" let-item>
          <div class="gallery-item">
            <span class="item-title">
              {{item.title}}
            </span>
            <span class="item-subtitle">
              {{item.subTitle}}
            </span>
            <img class="gallery-image" [src]="item.imageSource" [alt]="item.alt" />
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
