<div class="contents">
  <div class="title-bar">
    <span>Members' Mart</span>
  </div>
  <div class="content-body">
    <span>The following items are available from guild members. Please use the <a [routerLink]="['/contact-us']">Contact Us</a> page to place an item on this list.</span>
    <span>Items will be listed in the Members' Market for 30-45 days or until the owner of the ad notifies us to relist or remove the ad.</span>

    <p-dataView #dv [value]="martItems" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
      <ng-template let-item pTemplate="gridItem">
        <div class="p-col-12 p-md-4">
          <div class="product-grid-item card">
            <div class="product-grid-item-content">
              <div class="product-name">{{item.name}}</div>
              <div class="product-description">{{item.description}}</div>
              <img *ngIf="item.image" class="product-image" src="{{item.image}}">
            </div>
            <div class="product-grid-item-bottom">
              <div class="product-grid-item-bottom-left">
                <span class="product-price">{{item.price | currency}}</span>
                <span class="product-date">{{item.postedDate | date: "shortDate"}}</span>
              </div>
              <div class="product-grid-item-bottom-right">
                <span class="product-poster">{{item.postedBy}}</span>
                <span class="product-poster">{{item.contactInfo}}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

