<div class="contents">
  <div class="top-header">
    <div class="left-side">
      <img src="../assets/lvwwg-logo.svg">
      <span>Lehigh Valley Woodworkers Guild</span>
    </div>
    <div class="right-side">
      <a [routerLink]="['/signin']">Sign In / Register</a>
      <a [routerLink]="['/contact-us']">Contact Us</a>
    </div>
  </div>
  <div class="main-body">
    <div class="left-sidebar">
      <button *ngFor="let item of menuItems"
        pButton
        pRipple
        type="button"
        label="{{item.label}}"
        class="p-button-raised p-button-text p-button-plain"
        (click)="onAction(item)">
      </button>
    </div>
    <div class="main-layout">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
