:host {
  display: flex;
  flex-grow: 1;
}

:host ::ng-deep .p-button-text {
  color: beige;
 }

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;

  .top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: sandybrown;
    background-image: url('../assets/wood-1.jpg');
    height: 6em;

    .left-side {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 5em;
        height: 5em;
        margin-left: 1.75em;
       // transform: rotate(9deg);
      }

      span {
        font-size: 3em;
        padding: 0 0 0 .33em;
        color: rgb(251, 250, 250);
      }
    }

    .right-side {
      align-items: center;
      flex: 0 1 auto;
      padding: 0 1em 0 0;
      a {
        color: rgb(251, 250, 250);
      }
    }
  }

  .main-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: 100%;

    /* Image Location */
    background-image: url("../assets/background75.jpg");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

    .left-sidebar {
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      align-self: auto;
      // background-color: burlywood;
      width: 8em;
      //border-right: 1.5px solid black;
     }

    .main-layout {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      align-self: auto;
    }
  }
}
