<div class="contents">
  <div class="top-header">
    <div class="left-side">
      <!-- <img src="../assets/plane-306228.svg" height="30"> -->
      <img src="../assets/lvwwg-logo.svg">
      <span>Lehigh Valley Woodworkers Guild</span>
    </div>
    <div class="right-side">
      <a [routerLink]="['/contact-us']">Contact Us</a>
    </div>
  </div>
  <div class="main-body">
    <div class="left-sidebar">
      <!-- <p-megaMenu [model]="menuItems" orientation="vertical">
      </p-megaMenu> -->

      <button *ngFor="let item of menuItems"
        pButton
        pRipple
        type="button"
        label="{{item.label}}"
        class="p-button-raised p-button-text p-button-plain"
        (click)="onAction(item)">
      </button>

<!--       <button pButton pRipple type="button" label="Home" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Meetings" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Newsletter" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Gallery" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Projects" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Members Mart" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Wood Deals" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Friends" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Link" class="p-button-raised p-button-text p-button-plain"></button>
      <button pButton pRipple type="button" label="Contact Us" class="p-button-raised p-button-text p-button-plain"></button>
 -->
    </div>
    <div class="main-layout">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
