<div class="contents">
  <div class="title-bar">
    <span>Administration</span>
  </div>
  <div class="content-body">
    <p-tabView>
      <p-tabPanel header="Meetings">
        <app-admin-meetings></app-admin-meetings>
      </p-tabPanel>
      <p-tabPanel header="Members">
         <app-admin-users></app-admin-users>
      </p-tabPanel>
      <p-tabPanel header="E-mail">
          <app-admin-email></app-admin-email>
      </p-tabPanel>
      <p-tabPanel header="Gallery">
          <app-admin-gallery></app-admin-gallery>
      </p-tabPanel>
      <p-tabPanel header="Member's Market">
        <app-admin-gallery></app-admin-gallery>
      </p-tabPanel>
      <p-tabPanel header="Newsletters">
        <app-admin-newsletters></app-admin-newsletters>
      </p-tabPanel>
      <p-tabPanel header="Links">
        <app-admin-links></app-admin-links>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
