@import "../common.less";

:host /deep/ .p-button {
  margin: 1em 0 0 1em;
}

:host /deep/ .p-dropdown {
  margin: 1em 0 0 0;
  width: 50vw;
}

.contents {

  .input-group {
    margin: 1em 0 1em 0;

    .input-row {
      display: flex;
      flex-direction: row;
      align-items: center;

    }
  }
}

.full-width {
  width: 100%;
}
