<div class="contents">
  <div class="title-bar">
    <span>In Memory</span>
  </div>
  <div class="content-body">
    <div class="content-row">
      <div class="row-left">
        <img src="../../assets/in-memory/angeloweb.jpg">
      </div>
      <div class="row-right">
        <span class="name">Angelo Triandafiliou</span>
        <span class="year-range">1945 - 2005</span>
        <span class="details">We all appreciated Angelo's fine woodworking skill. Everyone who knew him was touched
          by his kindness, his thoughtfulness, his generosity and his wit. He was a driving force behind and an
          integral part of everything this guild has accomplished. If it needed to be done for the guild, for his
          family or for his church Angelo was there.</span>
      </div>
    </div>
    <div class="content-row">
      <div class="row-left">
        <img src="../../assets/in-memory/helen.jpg">
      </div>
      <div class="row-right">
        <span class="name">Helen Lamb Patterson</span>
        <span class="year-range">1935 - 2006</span>
        <span class="details">Helen was a caring person who was involved in the guild steering committee and
          several community programs. She was an early member of the guild and responsible for the design of our logo.</span>
      </div>
    </div>
    <div class="content-row">
      <div class="row-left">
        <img src="../../assets/in-memory/Bobtinsman.jpg">
      </div>
      <div class="row-right">
        <span class="name">Robert Tinsman</span>
        <span class="year-range">???? - 2009</span>
        <span class="details">Bob was one of the original members of the guild. During the years that the
          guild helped run the American Woodworker  Shows, Bob was a &quot;Take Charge&quot; guy that kept
          everyone moving in the same direction.</span>
      </div>
    </div>
    <div class="content-row">
      <div class="row-left">
        <img src="../../assets/in-memory/RichAssetto.jpg">
      </div>
      <div class="row-right">
        <span class="name">Richard C. Assetto</span>
        <span class="year-range">1959 - 2009</span>
        <span class="details">Rich was a kind and caring man. He reached out to members in need of help.
          For several years he printed the guild newsletter without charge. He touched the lives of many
          and will be missed by all who knew him.</span>
      </div>
    </div>
  </div>
</div>
