<div class="contents">
 <div class="content-body">
    <span>
      Welcome to the <b>Lehigh Valley Woodworker's Guild</b>. We hope you enjoy your visit.
      Please take some time to explore our site, read about us, and send us your comments.
    </span>
    <span>
      Located in eastern Pennsylvania, about 60 miles north of Philadelphia, our guild is
      made up of professional and amateur woodworkers. If you are new to woodworking, a good
      place to start is by attending one of our <a [routerLink]="['/meetings']">meetings</a>.
      We meet monthly at Woodcraft on Lehigh Street in Allentown. We welcome all
      woodworkers, regardless of what they build, their level of skill, style of work, or
      their profession.
    </span>
    <span>
      Our goals are to do a few things:
    </span>
    <ul>
      <li>
        Educate the public about our Guild and encourage participation in a hobby/profession
        that is creative and gratifying.
      </li>
      <li>
        Meet other guilds and woodworkers, hopefully making new friends along the way.
      </li>
      <li>
        Advance the knowledge of our members, serve our community and have fun while we're
        doing it.
      </li>
      <li>
        Serve our community by giving back to needy children.
      </li>
    </ul>
    <span>
      We would like to express our deepest thanks to the following companies. Without their
      generosity, we would not be able to bring smiles to children's faces.
    </span>
    <ul>
      <li>
        Bally Block Company
      </li>
      <li>
        Woodcraft Store and Neil Brown
      </li>
    </ul>
    <span>
      This site is dedicated to the memory of <a [routerLink]="['/in-memory']">members</a> who have
      passed on.
    </span>
  </div>
</div>
